[Unit]
Description=Telegram Bot

[Container]
Image=ghcr.io/is-the-name-already-taken/telegram-bot:latest
EnvironmentFile=/home/user/apps/tg-bot/telegram-bot.env
Network=host

[Service]
Restart=always

[Install]
WantedBy=multi-user.target